body {
  background-color: #014750;
  font-family: 'Crimson Pro', serif;
  color: white;
  padding: 40px;
  font-weight: lighter;
}

.container {
  background-color: #014750;
  width: 100vh;
  height: 80vh;
  margin: 0px;
  display: flex;
  align-items: center;
}

.intro {
  line-height: 44px;
  font-size: 32px;
}

.contact {
  display: flex;
}

.btn{
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  line-height: 28px;
  color: white;
  margin-right: 20px;
}

i {
  font-size: 14px;
  font-weight: 300;
}

.list-inline li {
  display: inline-block;
}
